<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tencent.backstage.modules.system.dao.LogDao" >
  <resultMap id="BaseResultMap" type="com.tencent.backstage.modules.system.entity.Log" >
    <id column="uuid" property="uuid" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="log_type" property="logType" jdbcType="VARCHAR" />
    <result column="method" property="method" jdbcType="VARCHAR" />
    <result column="request_ip" property="requestIp" jdbcType="VARCHAR" />
    <result column="time" property="time" jdbcType="BIGINT" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="exception_detail" property="exceptionDetail" jdbcType="LONGVARCHAR" />
    <result column="params" property="params" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    uuid, create_time, description, log_type, method, request_ip, time, username
  </sql>
  <sql id="Blob_Column_List" >
    exception_detail, params
  </sql>
  <select id="findIp" resultType="Long" >
    select count(*) FROM (
    select request_ip FROM sys_log
    where create_time between #{date1} and #{date2}
    GROUP BY request_ip) as s
  </select>
    <select id="findWithPage" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        from sys_log
        ${ew.customSqlSegment}
    </select>
</mapper>